[Unit]
Description=Mount EFS filesystems

[Service]
Environment=AWS_CONFIG_FILE=/etc/aws.conf
ExecStart=/usr/bin/aegea-efs-mount
StandardOutput=syslog
Restart=on-failure
RestartSec=60

[Install]
WantedBy=remote-fs.target
