# See https://github.com/curoverse/arvados/tree/master/services/nodemanager

[Daemon]
#dispatcher = slurm
min_nodes = 0
max_nodes = 8
max_total_price = 0
poll_time = 60
max_poll_time = 300
poll_stale_after = 600
boot_fail_after = 1800
node_stale_after = 14400
certs_file = /etc/ssl/certs/ca-certificates.crt

[Logging]
file = /var/log/arvados/node-manager.log
level = INFO
pykka = WARNING
apiclient = WARNING

[Arvados]
host = $ARVADOS_UUID_PREFIX.$ARVADOS_HOSTNAME
token = $ARVADOS_NODE_MANAGER_TOKEN
timeout = 15
# Accept an untrusted SSL certificate from the API server?
insecure = no

[Cloud]
provider = ec2
shutdown_windows = 54, 5, 1

[Cloud Credentials]
key = $ARVADOS_AWS_ACCESS_KEY_ID
secret = $ARVADOS_AWS_SECRET_ACCESS_KEY
region = $ARVADOS_AWS_DEFAULT_REGION
timeout = 60

[Cloud List]
instance-state-name = running
tag_arvados-class = dynamic-compute
tag_cluster = $ARVADOS_UUID_PREFIX

[Cloud Create]
ping_host = $ARVADOS_UUID_PREFIX.$ARVADOS_HOSTNAME
ex_keyname = $ARVADOS_EC2_SSH_KEYPAIR_NAME
image_id = $ARVADOS_EC2_WORKER_AMI_ID
subnet_id = $ARVADOS_EC2_SUBNET_ID
security_groups = $ARVADOS_EC2_SG_ID

[Size m4.large]
cores = 2
price = 0.126
scratch = 100

[Size m4.xlarge]
cores = 4
price = 0.252
scratch = 100
